In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("complete_df.csv")
df.head()

,Unnamed: 0,year,gameid,league,teamname,side,ban1,ban2,ban3,ban4,...,pick3,pick4,pick5,num_counters_picked,num_counters_banned,PGA,higher_PGA,mean_champ_wr,mean_team_wr,result
0,0,2017,1506-1540,LPL,I May,Blue,Syndra,Malzahar,Ashe,Karma,...,Cassiopeia,Varus,Tahm Kench,0,2,2,1,0.508666,0.438776,1
1,1,2017,1506-1540,LPL,Royal Never Give Up,Red,Camille,Rengar,Zyra,Elise,...,Ryze,Caitlyn,Nautilus,0,0,0,0,0.493086,0.598582,0
2,2,2017,1506-1541,LPL,I May,Blue,Syndra,Malzahar,Ashe,Rek'Sai,...,Corki,Caitlyn,Thresh,0,0,0,0,0.510833,0.438776,1
3,3,2017,1506-1541,LPL,Royal Never Give Up,Red,Rengar,Camille,Varus,Cassiopeia,...,Ryze,Jhin,Zyra,1,0,1,1,0.492558,0.598582,0
4,4,2017,1507-1544,LPL,Invictus Gaming,Blue,Jayce,Elise,Malzahar,Kha'Zix,...,LeBlanc,Varus,Tahm Kench,0,1,1,0,0.492380,0.523126,1

In [19]:
df['side'] = df['side'].str.lower()
df = pd.get_dummies(df, columns=['side'], prefix='', prefix_sep='')
df

,Unnamed: 0,year,gameid,league,teamname,ban1,ban2,ban3,ban4,ban5,...,pick5,num_counters_picked,num_counters_banned,PGA,higher_PGA,mean_champ_wr,mean_team_wr,result,blue,red
0,0,2017,1506-1540,LPL,I May,Syndra,Malzahar,Ashe,Karma,Poppy,...,Tahm Kench,0,2,2,1,0.508666,0.438776,1,True,False
1,1,2017,1506-1540,LPL,Royal Never Give Up,Camille,Rengar,Zyra,Elise,Rek'Sai,...,Nautilus,0,0,0,0,0.493086,0.598582,0,False,True
2,2,2017,1506-1541,LPL,I May,Syndra,Malzahar,Ashe,Rek'Sai,Kha'Zix,...,Thresh,0,0,0,0,0.510833,0.438776,1,True,False
3,3,2017,1506-1541,LPL,Royal Never Give Up,Rengar,Camille,Varus,Cassiopeia,Orianna,...,Zyra,1,0,1,1,0.492558,0.598582,0,False,True
4,4,2017,1507-1544,LPL,Invictus Gaming,Jayce,Elise,Malzahar,Kha'Zix,Lee Sin,...,Tahm Kench,0,1,1,0,0.492380,0.523126,1,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88345,88345,2025,LOLTMNT06_96854,LFL,Vitality.Bee,Skarner,Viktor,Maokai,Rell,Lux,...,Nautilus,1,1,2,1,0.497897,0.614958,1,False,True
88346,88346,2025,LOLTMNT06_96867,LFL2,Zerance,Aurora,Karthus,Kayn,Galio,Irelia,...,Nautilus,1,2,3,1,0.501714,0.282609,0,True,False
88347,88347,2025,LOLTMNT06_96867,LFL2,Project Conquerors,Viktor,K'Sante,Ivern,Jayce,Akali,...,Rell,2,0,2,0,0.509128,0.511111,1,False,True
88348,88348,2025,LOLTMNT06_96906,LFL2,IZI Dream,Akali,Rell,Varus,Skarner,Smolder,...,Rakan,1,2,3,1,0.516646,0.504587,1,True,False
88349,88349,2025,LOLTMNT06_96906,LFL2,Project Conquerors,Orianna,Ivern,Poppy,Jayce,Irelia,...,Leona,0,1,1,0,0.495225,0.511111,0,False,True

In [25]:
df = df.groupby("result")[['higher_PGA','num_counters_picked', 'num_counters_banned', 'mean_champ_wr', 'mean_team_wr', 'blue', 'red']].mean()
df.head()

,higher_PGA,num_counters_picked,num_counters_banned,mean_champ_wr,mean_team_wr,blue,red
result,,,,,,,
0,0.495190,0.673699,0.643978,0.499192,0.471924,0.469407,0.530593
1,0.504811,0.675843,0.667331,0.500674,0.527778,0.530596,0.469404

In [26]:
print(df.head().to_markdown(index = True))

|   result |   higher_PGA |   num_counters_picked |   num_counters_banned |   mean_champ_wr |   mean_team_wr |     blue |      red |
|---------:|-------------:|----------------------:|----------------------:|----------------:|---------------:|---------:|---------:|
|        0 |     0.49519  |              0.673699 |              0.643978 |        0.499192 |       0.471924 | 0.469407 | 0.530593 |
|        1 |     0.504811 |              0.675843 |              0.667331 |        0.500674 |       0.527778 | 0.530596 | 0.469404 |